<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet"> 
    <link rel="icon" href="/images/logo.png">
    <title>Wrong Username</title>
</head>
<body>
    <div class="message_container">
        <h1>Oops, the password you entered is not correct <span>:(</span></h1>
        <a href="/">HOME</a>
    </div>
</body>
</html>